body{
    background-color: rgb(195, 174, 213);
}
.continents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}
.continents :hover{
    background-color: rgb(169, 156, 223);
}

.continent{
    font-size: 36px;
    border: 1px black solid;
    width: 250px;
    height: 150px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 255);
    text-decoration: none;
    border-radius: 20px;
}

.countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.country{
    font-size: 20px;
    border: 1px black solid;
    width: 200px;
    height: auto;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(247, 247, 255);
    text-align: center;
    color: blue;
    border-radius: 20px;
}
.countries :hover{
    background-color: rgb(169, 156, 223);
}

.back{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    font-size: 28px;
    text-align: center;
    color: blue;
}
.info div{
    width: 200px;
    border: 2px solid black;
    margin: 10px;
    background-color: rgb(231, 212, 246);
}

img{
    display: block;
    margin: auto ;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: 200px;
    border: 1px solid black;
}

